.bdy-bg {
    background-color: #110E1B;
    color: white;
} 
.navbar .btn {
    background-color: #7C162E;
    color: #fff;
    padding: 8px 13px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: default;
}
.navbar .btn:hover {
    background-color: #c9302c;
    color: #fff;
    cursor: default;
}
.container {
    padding: 20px 0;
}
.nvbr {
    background-color: #191528;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 15px;
    cursor: default;
    transition: font-size 0.5s ease;
}
.nav-links a:hover {
    text-decoration: underline;
    font-size: 18px;

}
.navbar-brand {
    font-family: 'Playfair Display SC';
    font-size: 30px;
}

.img-hdr {
    background-color: #5C162E;
}

.img-hdr img {
    width: 300px;
}

.card-body {
    background-color: #EADEDA;
    text-align: center;
}
.crds h5{
    font-family: 'Yesteryear';
}
.card-title {
    text-align: center;
}

.footer {
    background-color: #5C162E;
    color: #fff;
    padding: 50px 30px;
    text-align: left;
}
.footer a {
    color: #fff;
    text-decoration: none;
    cursor: default;
}
.footer a:hover {
    text-decoration: none;
}
.company {
    font-family: 'Roboto Slab';
    font-size: 20px;
}